<h1> {{user.firstName}} {{user.lastName}} [ {{user.id}} ] </h1>

<ul class="list-group">
<li class="list-group-item"><strong>Email: </strong> {{user.email}} </li>
<li class="list-group-item"><strong>Phone: </strong> {{user.phone}} </li>
</ul>

<a href="/" class="btn btn-primary pull-left"> Back</a>

<form action="/user/delete/{{user.id}}?_method=DELETE" method="POST">

<button class="btn btn-danger pull-right"> DELETE</a>
</form>